main {
  margin-top: 60px;
  
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

img {
  margin: 10px;
}


body {
  margin: auto;
  display: flex;
}

.group {
  display: flex;
  flex-direction: column;
}

@media all and (min-width:600px) {
  .group {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0% 10px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .images {
    background-color: #5c4f41;
    display: flex;
  }
  
  .center {
    margin: auto;
    max-width: 1000px;
  }
}
